./
./matrixMult
./matrixMult/matrixMult
./complex
./complex/complex
./findMaxOfFloats
./findMaxOfFloats/findMaxOfFloats
./temperatureConverter
./temperatureConverter/temperatureConverter
./guessNumbers
./guessNumbers/guessNumbers
./gameOfLife
./gameOfLife/gameOfLife
./matrixBib
./matrixBib/main
./.git
./checkprime
./checkprime/checkPrime
./checkprime/playground
./checkprime/playground/playground
