./
./matrixMult/matrixMult
./complex/complex
./findMaxOfFloats/findMaxOfFloats
./temperatureConverter/temperatureConverter
./guessNumbers/guessNumbers
./gameOfLife/gameOfLife
./matrixBib/matrixBib
./checkprime/checkPrime
./checkprime/playground/playground
./checkPrimeMultiThreaded/checkPrimeMultiThreaded
