./matrixMult/matrixMult
./complex/complex
./findMaxOfFloats/findMaxOfFloats
./temperatureConverter/temperatureConverter
./guessNumbers/guessNumbers
./gameOfLife/gameOfLife
./matrixBib/main
./checkprime/checkPrime
./checkprime/playground/playground
